$primary-color: hsl(0, 100%, 74%);
$button-primary: hsl(154, 59%, 51%);
$button-secondary: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);
$white-color: hsl(0, 0%, 100%);
$black-color: hsl(0, 0%, 0%);